/* based on the dracula theme colors*/

body {
    background-color: #282a36;
    color: #f8f8f2;
}

.CenterColumn {
    position: absolute;
    top: 0px;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
    width: 60%; 
}

@media screen and (max-width: 30cm) {
    .CenterColumn {
        width: 100%; 
        margin-left: 0%;
        margin-right: 0%;
        left: 0px;
    }

    .TitleBlock {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .TextSection {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

.TitleBlock {
    width: 100%;
    margin: 4%;
    text-align: center;
}

.TextSection {
    background-color: #383a59;
    width: 100%;
    margin: 2%;
    padding: 2%;
    text-align: center;
    border-radius: 15px;
}

h1 {
    margin: 0%;
    color: #50fa7b;
    font-size: 6rem;
}

h2 {
    margin: 0%;
    color: #ff79c6;
    font-size: 3rem;
}

h3 {
    color: #8be9fd;
    margin: 0px;
    display: inline;
  
}

.Text {
    font-size: 1.5rem;
    text-align: left;
    width: 50%;
    margin: auto;
}

a {
    color: inherit;
}

